[tool.black]
line-length = 88
target-version = ['py311']

[tool.isort]
profile = "black"

[tool.mypy]
python_version = 3.11
ignore_missing_imports = true

[tool.flake8]
max-line-length = 88
extend-ignore = "E203, W503"
